::ng-deep .options {
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(191, 191, 191, 0.15);
}

::ng-deep .caption {
    font-size: 18px;
    font-weight: 500;
}

::ng-deep .option {
    margin-top: 10px;
}

::ng-deep .option>span {
    margin-right: 10px;
}

::ng-deep .option>.dx-selectbox {
    display: inline-block;
    vertical-align: middle;
}


:host {
    position: relative;
    height: 100%;
    flex: 1;
    min-height: 400px;
}

:host>dx-data-grid {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100% !important;
}
